.OrderListGame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: black;
  background-color: var(--white);
  border: 0.2vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 2vmin;
  cursor: zoom-in;
}

.OrderListGame.selected, .OrderListGame:not(.selected):hover {
  border-color: red;
  border-width: .25vmin;
}

.OrderListGame.selected {
  cursor: zoom-out;
}