.PlatformList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
  }
  
  .PlatformList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    color: black
  }
      
  .PlatformList li:hover:not(.active) {
    cursor: zoom-in;
    background-color: red;
    color: var(--white);
  }
  
  .PlatformList li.active {
    color: white;
    background-color: black;
    border: .25vmin solid red;
  }