.MenuListGame {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: black;
  background-color: black;
  border: .3vmin solid red;
  border-radius: 1vmin;
  font-size: 4vmin;
}

.MenuListGame .image {
  height: 700px;
  width: 525px;
  align-items: center;
}

.MenuListGame .buy {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  border-radius: 3vmin;
  font-size: 2vw;
  text-align: center;
}

.MenuListGame .buy span {
  align-items: center;
  font-size: 1.7vw;
  text-align: center;
  color: black;
}



.MenuListGame .details {
  display: flex;
  flex-direction: column;
  align-items: bottom;
  color: white;
}

